body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
    background-color: blueviolet;
}
.container {
    height: 400px;
    width: 400px;
    
}
.center-container {
    height: 405px;
    width: 400px;
    background-color: white;
    margin: 0 20px; 
    border: 3px solid;
    
}
.left-container, .right-container {
    height: 300px;
    width: 300px;
    background-color: black;
    
}
.left-container {
    margin-right: 20px; 
    border-radius: 3px solid;
    border-radius: 5px;
}
.right-container {
    margin-left: 20px; 
}
.top{
background-color: rgb(214, 79, 79);
height: 100px;
text-align: center;
font-weight: bolder;
}
.bottom{
background-color: antiquewhite;
height: 100px;

}
button{
background-color: black;
color: white;
height: 55px;
width: 55px;
border-radius: 50%;
text-align: center;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-family: serif;

}
.top2{
background-color: rgb(59, 201, 96);
height: 100px;
text-align: center;
font-weight: bolder;
}
.bottom2{
background-color: rgb(250, 235, 215);
height: 100px;

}
table td{
height: 110px;
width: 110px;
border: 2px solid ;
padding: 9px;
background-color: aliceblue;
font-size: 98px;
text-align: center;

}
td:hover{
background-color: aquamarine;
}
.reload{
position: absolute;
margin-top: 250px;

}
input{
    position: relative;
    margin-top: 20px;
    margin-left: 15px;
}
label{
    text-align: center;
    font-size: 25px;
}
